<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>


    <title>Auth | DirtyCall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            height: 100vh;
            background: rebeccapurple;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .form-wrapper {
            display: flex;
            justify-content: center;
        }

        form {
            width: 400px;
            background: white;
            padding: 1rem;
            border-radius: 0.5rem;
        }
    </style>
</head>

<body>
    <div class="container root">
        <div class="form-wrapper">
            <form id="gauth">
                <div class="text-center mb-4">
                    <h2>gAuth</h2>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" required>
                </div>
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-primary ">Login</button>
                </div>
            </form>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script defer src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>

    <script defer src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer script src="/auth.js"></script>
</body>

</html>